body {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  background: #eee;
  margin-top: 5em;
}

.wrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed #1d1d1d;
}
