body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  background: #eee;
}

.wrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed #1d1d1d;
}

h5 {
  font-size: 2rem;
}

.winner {
  text-transform: uppercase;
}

button {
  margin-top: 2em;
}
