* {
  box-sizing: border-box;
}

#gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  width: 100%;
  min-width: 500px;
  height: 800px;
}

#gallery-container img {
  flex-basis: 200px;
  max-height: 150px;
  margin: 20px;
}
