@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Task 1 */
html {
  font-family: "Roboto", sans-serif;
}

/* Task 2 */
aside p {
  color: green;
}

/* Task 3 */
p {
  font-size: 1.25rem;
}

/* Task 4 */
h1 {
  font-size: 3rem;
}

/* Task 5 */
#first-section > p {
  text-decoration: underline;
}

/* Task 6 */
h1,
h2 {
  font-style: italic;
}

/* Task 7 */
.small {
  text-transform: uppercase;
  font-size: smaller;
}

/* Task 8 */
#comment {
  background: lightblue;
}

/* Task 9 */
ul {
  list-style: none;
}
